header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px;
  background-color: #F2A034;
  box-shadow: 0 2px 2px #CCC; }
  header h3 {
    margin: 0; }

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 15px;
  background-color: #CCC; }

.slider {
  height: 100%;
  width: 100%;
  overflow-x: hidden; }
  .slider .slides-container {
    height: 50%;
    width: 400%;
    position: relative;
    transition: margin-left .2s; }
    .slider .slides-container .slide {
      height: 100%;
      width: 100vw;
      position: absolute;
      top: 0;
      padding: 15px; }
      .slider .slides-container .slide:nth-child(1) {
        left: 0vw; }
      .slider .slides-container .slide:nth-child(2) {
        left: 100vw; }
      .slider .slides-container .slide:nth-child(3) {
        left: 200vw; }
      .slider .slides-container .slide:nth-child(4) {
        left: 300vw; }

.slider-handler {
  position: fixed;
  top: 113px;
  right: 25%;
  left: 25%;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  box-shadow: 0 3px 3px #CCC; }
  .slider-handler a {
    flex: 1;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: 0; }
    .slider-handler a:first-child {
      border-radius: 3px 0 0 3px; }
    .slider-handler a:last-child {
      border-radius: 0 3px 3px 0; }
    .slider-handler a:hover {
      font-weight: bold;
      background-color: #A4BD57; }
    .slider-handler a.active {
      font-weight: bold;
      background-color: #F2A034; }

body {
  background-color: white;
  font-family: "Montserrat", sans-serif; }

.content {
  position: fixed;
  top: 63px;
  right: 0;
  left: 0;
  bottom: 0; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    color: black; }
