.slider-handler {
  position: fixed;
  top: $headerHeight + 50px;
  right: 25%;
  left: 25%;
  background-color: cyan;
  display: flex;
  flex-direction: row;
  a {
    flex: 1;
    text-align: center;
    padding: $defaultPadding;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      font-weight: bold;
      background-color: deeppink;
    }
    &.active {
      font-weight: bold;
      background-color: green;
    }
  }
}