$defaultPadding: 15px;

$headerHeight: 63px;

// ------------- Fonts
$montserrat: "Montserrat", sans-serif;

// ------------- Shadows
$shadowColor: #CCC;
$lowShadow: 0 2px 2px $shadowColor;
$midShadow: 0 3px 3px $shadowColor;
$highShadow: 0 5px 5px $shadowColor;

// Colours
$blue: #4588D1;
$green: #A4BD57;
$yellow: #F5D450;
$orange: #F2A034;
$red: #D9502E;
$grey: #E1E6EA;

$primary: $orange;
$secondary: $green;
