@import './_variables.scss';
@import './_header.scss';
@import './_footer.scss';
@import './_sliders.scss';
@import './_sliderHandler.scss';

body {
  background-color: white;
  font-family: $montserrat;
}

.content {
  position: fixed;
  top: $headerHeight;
  right: 0;
  left: 0;
  bottom: 0;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
  }
}